{% extends "base.html" %}
{% load static %}
{% block title %} RoofinLead {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block extrastyle %}
<link rel="stylesheet" href="{% static '/css/form2.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

{% endblock extrastyle %}

{% block content %}	

    <div class="container-div">
        <div class="detail-div">
            <h1 class="logo">Logo</h1>
            <div class="price-tag">
                <h4 class="title" style="display: none;" id="client-phone"><b>Phone:</b>02121510</h4>
                <h4 class="title" style="display: none;" id="client-email"><b>Email:</b>abc@gmail.com</h4>
                <p class="title">PRICE RANGE</p>
                <div class="price-div">
                    <div class="price-div-inner">
                        <h4 class="price"><b id="low-price">$0</b></h4>
                        <p class="price-detail" id="sq-1">per sq. ft</p>
                    </div>
                    <h4 class="price"><b> - </b></h4>
                    <div class="price-div-inner">
                        <h4 class="price"><b id="high-price">$0</b></h4>
                        <p class="price-detail" id="sq-2">per sq. ft</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="input-div">
            <div class="input-div-logo">
                <p>Logo</p>
            </div>
            <div style="
                       display: flex;
                       width: 100%;
                       justify-content: center; 
                        ">
                <div class="progress" style="
                                        margin-top: 23px;
                                        width: 70%;
                                        height: 10px;
                                        ">
                <div class="progress-bar" id="progress" role="progressbar" aria-valuenow="70"
                aria-valuemin="0" aria-valuemax="100" style="width:0%; background-color: rgb(255, 179, 0);">
                </div>
            </div>
            </div>
            <form action="{% url 'home' %}" method="POST" enctype="multipart/form-data" id="roofing_form">
                {% csrf_token %}
                <div class="input-inner-div">

                    <!------------------------------------------- Selecting category -->

                    <div class="input-area active-div" id="category-selection">
                        <h2 class="input-title">I am Looking For:</h2>
                        
                        <div class="multiselection-div">
                            <div class="multiselection-div-option" id="category">
                                <img src="{% static 'images/repair.png' %}" id="category-img" alt="no image" class="img-option">
                                <p id="category-selected">Repair Roof</p>
                            </div>
                            <div class="multiselection-div-option" id="category">
                                <img src="{% static 'images/replace.png' %}" id="category-img" alt="no image" class="img-option">
                                <p id="category-selected">Replace Roof</p>
                            </div>
                            <div class="multiselection-div-option" id="category">
                                <img src="{% static 'images/install new.png' %}" id="category-img" alt="no image" class="img-option">
                                <p id="category-selected" style="margin-bottom: 0px;">Install New Roof</p>
                                <p style="width: 112px; margin-top: 0px;">(New Construction)</p>
                            </div>

                            <input type="text" hidden value="" id="category-name" name="category_selected">
                        </div> 
                    </div>

                    <!------------------------------------------- Zip code -------------->

                    <div class="input-area inactive-div" id="zip-code-selection">
                        <h2 class="input-title">What's your zip code?</h2>
                        <input class="input-field" name="zipcode" id="zip-code-entered" type="number" placeholder="Type your answer here...">
                    </div>

                    <!------------------------------------------- Details ---------------->

                    <div class="input-area inactive-div" id="detail-selection">
                        <div class="multi-input-div">
                            <h2 class="input-title">What's your name</h2>
                            <input class="input-field" name="name" id="name-entered" type="text" placeholder="Type your answer here...">
                        </div>
                        <div class="multi-input-div">
                            <h2 class="input-title">What's your phone number</h2>
                            <input class="input-field" name="phone" id="phone-entered" type="number" placeholder="Type your answer here...">
                        </div>
                        <div class="multi-input-div">
                            <h2 class="input-title">What's your email</h2>
                            <input class="input-field" name="email" id="email-entered" type="text" placeholder="Type your answer here...">
                        </div>
                    </div>

                    <!------------------------------------------- Acurate Estimation ---------------->

                    <div class="input-area inactive-div" id="acurate-estimation">
                        <h2 class="input-title">For more accurate estimate</h2>
                        
                        <div class="multiselection-div">
                            <div class="multiselection-div-option" id="acurate-estimation-option">
                                <img src="{% static 'images/schedule consult.png' %}" id="acurate-estimation-img" alt="no image" class="img-option">
                                <p id="acurate-estimation-selected">Schedule Consultation</p>
                            </div>
                            <div class="multiselection-div-option" id="acurate-estimation-option">
                                <img src="{% static 'images/get an instant quote.png' %}" id="acurate-estimation-img" alt="no image" class="img-option">
                                <p id="acurate-estimation-selected">Get an Instant quote</p>
                            </div>

                            <input type="text" hidden value="" id="accuration-type">
                        </div> 
                        
                    </div>

                    <!------------------------------------------- Schedule Consultation ---------------->

                    <div class="input-area inactive-div" id="schedule-consultation">
                        <h2 class="input-title">Schedule Consultation</h2>
                        
                        <div class="multiselection-div" id="dates">

                        </div> 

                        <div class="modal fade" id="myModal" role="dialog">
                            <div class="modal-dialog">
                            
                              <!-- Modal content-->
                              <div class="modal-content" style="    display: flex;flex-direction: column;text-align: center;">
                                <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal"></button>
                                  <h4 class="modal-title">Inspection Date</h4>
                                </div>
                                <div class="modal-body">
                                  <p>Please Select a time:</p>
                                  <input type="text" hidden name="inspection_time" id="inspection_time">
                                  <div style="    display: flex;justify-content: space-around;">
                                      <div style="display: flex; flex-direction: column; align-items: center;">
                                        <i class="fas fa-sun" style="color: black;"></i>
                                        <div style="font-weight: 600;" class="inspection_time_options">
                                            Morning
                                        </div>
                                        <div>9-12pm</div>
                                      </div>

                                      <div>
                                        <div style="font-weight:600; display: flex; flex-direction: column; align-items: center;" class="inspection_time_options">
                                            <i class="fas fa-moon" aria-hidden="true" style="color: black;"></i>
                                            Afternoon
                                        </div>
                                        <div>12-5pm</div>
                                      </div>

                                  </div>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                  
                                </div>
                              </div>
                              
                            </div>
                          </div>
                        
                    </div>

                    <!------------------------------------------- approximate size -------------->

                    <div class="input-area inactive-div" id="house-size">
                        <h2 class="input-title" style="margin-bottom: 30px;">What is the approximate size of your home in sq ft?</h2>
                        
                        <input type="range" class="range" name="size_of_house" id="size_of_house" min="500" value="0" max="10000" step="1">
                        <h1 id="range_output" style="font-size: 31px;">500 ft</h1>
                    </div>

                    <!------------------------------------------- working With your insurance company ------>

                    <div class="input-area inactive-div" id="instant-quote">
                        <h2 class="input-title">Will We be working With your insurance company</h2>
                        
                        <div class="multiselection-div">
                            <div class="multiselection-div-option" id="work-insurance-company-option">
                                <img src="{% static 'images/insurance yes.png' %}" id="work-insurance-company-option-img" alt="no image" class="img-option">
                                <p id="work-insurance-company-selection">Yes</p>
                            </div>

                            <div class="multiselection-div-option" id="work-insurance-company-option">
                                <img src="{% static 'images/insurance no.png' %}" id="work-insurance-company-option-img" alt="no image" class="img-option">
                                <p id="work-insurance-company-selection">No</p>
                            </div>

                            <input type="text" hidden value="" id="instant-quote-selected" name="insurance_company">
                        </div> 
                        
                    </div>

                    <!------------------------------------------- severe damage ---------------->

                    <div class="input-area inactive-div" id="severe-damage">
                        <h2 class="input-title">Are you aware of any leaks or severe damage</h2>
                        
                        <div class="multiselection-div">
                            <div class="multiselection-div-option" id="severe-damage-option">
                                <img src="{% static 'images/leaks yes.png' %}" id="severe-damage-img" alt="no image" class="img-option">
                                <p id="severe-damage-selection">Yes</p>
                            </div>

                            <div class="multiselection-div-option" id="severe-damage-option">
                                <img src="{% static 'images/leaks no.png' %}" id="severe-damage-img" alt="no image" class="img-option">
                                <p id="severe-damage-selection">No</p>
                            </div>

                            <input type="text" hidden value="" id="severe-damage-selected" name="severe_leaks">
                        </div> 
                        
                    </div>

                    <!------------------------------------------- Roof slope ---------------->

                    <div class="input-area inactive-div" id="roof-slope">
                        <h2 class="input-title">Please provide your best guess with the slope of your roof</h2>
                        
                        <div class="multiselection-div">
                            <div class="multiselection-div-option" id="roof-slope-option" >
                                <img src="{% static 'images/slope low.png' %}" id="roof-slope-img" alt="no image" class="img-option">
                                <p id="roof-slope-selection">Low</p>
                            </div>

                            <div class="multiselection-div-option" id="roof-slope-option">
                                <img src="{% static 'images/slope mid.png' %}" id="roof-slope-img" alt="no image" class="img-option">
                                <p id="roof-slope-selection">Mid</p>
                            </div>

                            <div class="multiselection-div-option" id="roof-slope-option">
                                <img src="{% static 'images/slope high.png' %}" id="roof-slope-img" alt="no image" class="img-option">
                                <p id="roof-slope-selection">High</p>
                            </div>

                            <input type="text" hidden value="" id="roof-slope-selected" name="slope">
                        </div> 
                        
                    </div>

                    <!------------------------------------------- My home story ---------------->

                    <div class="input-area inactive-div" id="home-story">
                        <h2 class="input-title">My home is</h2>
                        
                        <div class="multiselection-div">
                            <div class="multiselection-div-option" id="home-story-option">
                                <img src="{% static 'images/1 story house.png' %}" id="home-story-img" alt="no image" class="img-option">
                                <p id="home-story-selection">One Story</p>
                            </div>

                            <div class="multiselection-div-option" id="home-story-option">
                                <img src="{% static 'images/2 story house.png' %}" id="home-story-img" alt="no image" class="img-option">
                                <p id="home-story-selection">Two Story</p>
                            </div>

                            <div class="multiselection-div-option" id="home-story-option">
                                <img src="{% static 'images/2 story house basement.png' %}" id="home-story-img" alt="no image" class="img-option">
                                <p id="home-story-selection">Two story with basement</p>
                            </div>

                            <div class="multiselection-div-option" id="home-story-option">
                                <img src="{% static 'images/3 story house.png' %}" id="home-story-img" alt="no image" class="img-option">
                                <p id="home-story-selection">Three Story</p>
                            </div>

                            <input type="text" hidden value="" id="home-story-selected" name="no_of_stories">
                        </div> 
                        
                    </div>

                    <!------------------------------------------- material quality ---------------->

                    <div class="input-area inactive-div" id="material-quality">
                        <h2 class="input-title">What material quality would you like to use?</h2>
                        
                        <div class="multiselection-div">
                            <div class="multiselection-div-option" id="material-quality-option">
                                <img src="{% static 'images/material good.png' %}" id="material-quality-img" alt="no image" class="img-option">
                                <p id="material-quality-selection">Good - 7 year guarantee</p>
                            </div>

                            <div class="multiselection-div-option" id="material-quality-option">
                                <img src="{% static 'images/material better.png' %}" id="material-quality-img" alt="no image" class="img-option">
                                <p id="material-quality-selection">Better - 15 year guarantee</p>
                            </div>

                            <div class="multiselection-div-option" id="material-quality-option">
                                <img src="{% static 'images/material best.png' %}" id="material-quality-img" alt="no image" class="img-option">
                                <p id="material-quality-selection">Best - 30-year guarantee</p>
                            </div>

                            <input type="text" hidden value="" id="material-quality-selected" name="material">
                        </div> 
                        
                    </div>

                    <!------------------------------------------- get started? ---------------->

                    <div class="input-area inactive-div" id="get-started">
                        <h2 class="input-title">How soon would you like to get started?</h2>
                        
                        <div class="multiselection-div">
                            <div class="multiselection-div-option" id="get-started-option">
                                <img src="{% static 'images/immediate.png' %}" id="get-started-img" alt="no image" class="img-option">
                                <p id="get-started-selection">Immediately</p>
                            </div>

                            <div class="multiselection-div-option" id="get-started-option">
                                <img src="{% static 'images/1 to 3 mo.png' %}" id="get-started-img" alt="no image" class="img-option">
                                <p id="get-started-selection">1-3 Months</p>
                            </div>

                            <div class="multiselection-div-option" id="get-started-option">
                                <img src="{% static 'images/3 or more mo.png' %}" id="get-started-img" alt="no image" class="img-option">
                                <p id="get-started-selection">3+ Months</p>
                            </div>

                            <input type="text" hidden value="" id="get-started-selected" name="starting_time">
                        </div> 
                        
                    </div>

                    <!------------------------------------------- financing partners ---------------->

                    <div class="input-area inactive-div" id="financing-partners">
                        <h2 class="input-title">Are you interested in a conversation with our financing partners</h2>
                        
                        <div class="multiselection-div">
                            <div class="multiselection-div-option" id="financing-partners-option">
                                <img src="{% static 'images/option.jpeg' %}" id="financing-partners-img" alt="no image" class="img-option">
                                <p id="financing-partners-selection">Yes</p>
                            </div>

                            <div class="multiselection-div-option" id="financing-partners-option">
                                <img src="{% static 'images/option.jpeg' %}" id="financing-partners-img" alt="no image" class="img-option">
                                <p id="financing-partners-selection">No</p>
                            </div>


                            <input type="text" hidden value="" id="financing-partners-selected" name="conversation">
                        </div> 
                        
                    </div>

                    <!------------------------------------------- choose a day ---------------->

                    <div class="input-area inactive-div" id="choose-a-day">
                        <h2 class="input-title">Would you like to choose a day in the near future to have us out for an on-site inspection</h2>
                        
                        <div class="multiselection-div">
                            <div class="multiselection-div-option" id="choose-a-day-option">
                                <img src="{% static 'images/schedule on site inspection yes.png' %}" id="choose-a-day-img" alt="no image" class="img-option">
                                <p id="choose-a-day-selection">Yes</p>
                            </div>

                            <div class="multiselection-div-option" id="choose-a-day-option">
                                <img src="{% static 'images/option.jpeg' %}" id="choose-a-day-img" alt="no image" class="img-option">
                                <p id="choose-a-day-selection">No</p>
                            </div>


                            <input type="text" hidden value="" id="choose-a-day-selected" name="material">
                        </div> 
                        
                    </div>

                    <input type="hidden" name="appointment_date" id="appointment_date">
                    <div class="button-div">
                        <button class="continue-btn" type="button" id="previous-option" style="margin-right: 10px; display: none;"><i class="fa-solid fa-circle-check yellow"></i>Back</button>
                        <button class="continue-btn" type="button" id="next-option"><i class="fa-solid fa-circle-check yellow"></i>CONTINUE</button>
                    </div>
                </div>
            </form>
        </div>
    </div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block extrajavascript %}

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<script src="{% static 'js/form.js' %}"></script>

{% endblock extrajavascript %}
