<html>
    <head>
        <meta charset="utf-8">

        <style>
            img{
                width: 150px;
            }

            .logo-div{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                padding-left: 40%;
            }

            .data-fields{
              font-size: 22px;
            }

            

            </style>

    </head>


    <body>

        <div class="logo-div" style="padding-left: 45px;">
            <img src="static/images/option.jpeg">
        </div>
        
        <h1 class="data-fields">Order details...</h1>
        
        <div>
          <p class="data-fields"><b>Name:</b> {{Name}}</p>
        </div>

        <div>
          <p class="data-fields"><b>Phone:</b> {{Phone}}</p>
        </div>

        <div>
          <p class="data-fields"><b>Email:</b> {{email}}</p>
        </div>

    </body>
</html>