body{
    margin: 0px;
    font-family: 'Poppins' !important;
}

.container-div{
    display: flex;
}

.active-div{
    display: block !important;
}

.inactive-div{
    display: none !important;
}

/**************************************** left portion */
.detail-div{
    background-color: rgba(33, 33, 33, 0.751);
    width: 25%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.logo{
    color: rgb(255, 179, 0);
    margin: 0px;
    margin-top: 80px;
    margin-bottom: 20px;
}

.price-tag{
    background-color: rgb(255, 179, 0);
    margin-top: 110px;
    padding: 20px;
    min-width: 244px;
}

.title{
    text-align: center;
    font-size: small;
    color: rgba(33, 33, 33, 0.751);
}

.price{
    font-size: xx-large;
    margin: 0px;
}

.price-div{
    display: flex;
    justify-content: center;
}

.price-div-inner{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.price{
    margin-right: 20px;
    color: rgba(33, 33, 33, 0.751);
}

.price-detail{
    margin: 0px;
    font-size: small;
    color: rgba(33, 33, 33, 0.751);
}

/**************************************** left portion end */

/********************************************** Right portion */

.progress-bar{
    width: 100%;
    background-color: aliceblue;
    height: 5px;
}

.input-div{
    padding: 20px;
    width: 75%;
    position: relative;
}

.input-div-logo{
    display: flex;
    justify-content: right;
    position: absolute;
    right: 20px;
}

.input-div-logo>p{
    color: gray;
}

.input-inner-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    margin-left: 77px;    
}

.input-title{
    color: rgba(33, 33, 33, 0.751);
    margin: 0px;
}

.input-field{
    border: none;
    padding: 20px;
    padding-left: 0px;
    border-bottom: 1px solid rgba(33, 33, 33, 0.751);
    font-size: 24px;
    margin-bottom: 20px;
}

.input-field:focus{
    outline: none;
}

.range{
    width: 50% !important;
    margin: 0px !important;
}

/*********/

input[type="range"] {
    -webkit-appearance: none;
    margin-right: 15px;
    width: 200px;
    height: 7px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    background-image: linear-gradient(rgb(255, 179, 0), rgb(255, 179, 0));
    background-repeat: no-repeat;
  }
  
  /* Input Thumb */
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: rgb(255, 179, 0);;
    cursor: ew-resize;
    box-shadow: 0 0 2px 0 #555;
    transition: background .3s ease-in-out;
  }
  
  input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: rgb(255, 179, 0);;
    cursor: ew-resize;
    box-shadow: 0 0 2px 0 #555;
    transition: background .3s ease-in-out;
  }
  
  input[type="range"]::-ms-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: rgb(255, 179, 0);;
    cursor: ew-resize;
    box-shadow: 0 0 2px 0 #555;
    transition: background .3s ease-in-out;
  }
  
  input[type="range"]::-webkit-slider-thumb:hover {
    background: rgb(255, 179, 0);;
  }
  
  input[type="range"]::-moz-range-thumb:hover {
    background: rgb(255, 179, 0);;
  }
  
  input[type="range"]::-ms-thumb:hover {
    background: rgb(255, 179, 0);;
  }
  
  /* Input Track */
  input[type=range]::-webkit-slider-runnable-track  {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
  }
  
  input[type=range]::-moz-range-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
  }
  
  input[type="range"]::-ms-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
  }


/************/

.continue-btn{
    background-color: rgba(33, 33, 33, 0.751);
    border: none;
    color: white;
    padding: 8px;
    border-radius: 5px;
    margin-top: 50px;
    width: 166px;
    height: 43px;
}

.yellow{
    color: rgb(255, 179, 0);
    margin-right: 5px;
}

/********************************************** right portion end */

/******************************************** Multi selection **/


.multiselection-div{
    margin-top: 20px;
    display: flex;
}

.multiselection-div-option{
    display: flex;
    flex-direction: column;
    width: 245px;
    align-items: center;
    cursor: pointer;
    margin-right: 30px;
}

.img-option{
    height: 175px;
}

.multi-input-div{
    margin-bottom: 20px;
}

/******************************************** Multi selection end **/

.inspection_time_options{
    cursor: pointer;
}

.button-div{
    display: flex;
    
}